@model RepairExpenseViewModel
@{
    ViewData["Title"] = "Изтриване на ремонт";
}
<div class="container mt-4">
    <h4>Сигурни ли сте, че искате да изтриете този ремонт?</h4>
    <dl class="row">
        <dt class="col-sm-3">Автомобил</dt>
        <dd class="col-sm-9">@Model.CarDisplayName</dd>
        <dt class="col-sm-3">Описание</dt>
        <dd class="col-sm-9">@Model.Description</dd>
        <dt class="col-sm-3">Цена</dt>
        <dd class="col-sm-9">@Model.Cost</dd>
    </dl>
    <form asp-action="DeletePost" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Изтрий</button>
        <a asp-action="Index" class="btn btn-secondary">Отказ</a>
    </form>
</div>