@model RepairExpenseViewModel
@{
    ViewData["Title"] = "Детайли за ремонт";
}
<div class="container mt-4">
    <dl class="row">
        <dt class="col-sm-3">Автомобил</dt>
        <dd class="col-sm-9">@Model.CarId</dd>
        <dt class="col-sm-3">Описание</dt>
        <dd class="col-sm-9">@Model.Description</dd>
        <dt class="col-sm-3">Цена</dt>
        <dd class="col-sm-9">@Model.Cost</dd>
    </dl>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
