@model CarViewModel

<div class="container mt-4">
    <h2 class="mb-3">Добавяне на автомобил</h2>
    <form asp-action="Add" method="post" enctype="multipart/form-data" class="border p-4 rounded shadow bg-light">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label class="form-label" style="color:black">Марка:</label>
            <select asp-for="Brand" class="form-control">
                <option value="">Изберете марка</option>
                <option value="Toyota">Toyota</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="BMW">BMW</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Ford">Ford</option>
                <option value="Renault">Renault</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Opel">Opel</option>
                <option value="Audi">Audi</option>
                <option value="Другa">Друга</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" style="color:black">Вид гориво:</label>
            <select asp-for="FuelType" class="form-control">
                <option value="">Изберете вид гориво</option>
                <option value="Бензин">Бензин</option>
                <option value="Дизел">Дизел</option>
                <option value="Газ">Газ</option>
                <option value="Електрически">Електрически</option>
                <option value="Хибрид">Хибрид</option>
                <option value="Друго">Друго</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" style="color:black">Модел:</label>
            <input asp-for="CarModel" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label" style="color:black">Рег. номер:</label>
            <input asp-for="RegistrationNumber" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label" style="color:black">Дата на закупуване:</label>
            <input asp-for="PurchaseDate" type="date" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label" style="color:black">Пробег (км):</label>
            <input asp-for="Mileage" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Добави</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Назад</a>
    </form>
</div>