@model CarViewModel
@{
    ViewData["Title"] = "Редактиране на автомобил";
}
<div class="container mt-4">
    <h2>@ViewData["Title"]</h2>
    <form asp-action="Edit"  method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CarModel"></label>
            <input asp-for="CarModel" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="RegistrationNumber"></label>
            <input asp-for="RegistrationNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PurchaseDate"></label>
            <input asp-for="PurchaseDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Mileage"></label>
            <input asp-for="Mileage" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Brand"></label>
            <select asp-for="Brand" class="form-control">
                <option value="">Изберете марка</option>
                <option value="Toyota">Toyota</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="BMW">BMW</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Ford">Ford</option>
                <option value="Renault">Renault</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Opel">Opel</option>
                <option value="Audi">Audi</option>
                <option value="Другa">Друга</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="FuelType"></label>
            <select asp-for="FuelType" class="form-control">
                <option value="">Изберете вид гориво</option>
                <option value="Бензин">Бензин</option>
                <option value="Дизел">Дизел</option>
                <option value="Газ">Газ</option>
                <option value="Електрически">Електрически</option>
                <option value="Хибрид">Хибрид</option>
                <option value="Друго">Друго</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Запази</button>
    </form>
</div>