@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Админ панел - Потребители";
}

<h2>Потребители</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Опции</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form asp-action="DeleteUser" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Наистина ли искате да изтриете този потребител?');">Изтрий</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>