@model MonthlyReportViewModel
@{
    ViewData["Title"] = "Изтриване на месечен отчет";
}

<h2>@ViewData["Title"]</h2>

<h4>Сигурни ли сте, че искате да изтриете този отчет?</h4>

<dl class="row">
    <dt class="col-sm-4">Автомобил</dt>
    <dd class="col-sm-8">@Model.CarModel</dd>

    <dt class="col-sm-4">Месец</dt>
    <dd class="col-sm-8">@Model.Date</dd>

    <dt class="col-sm-4">Изминати километри</dt>
    <dd class="col-sm-8">@Model.TotalKilometers</dd>
</dl>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Изтрий</button>
    <a asp-action="Index" class="btn btn-secondary">Отказ</a>
</form>